<%= render 'template_ones/edit_partials/contact' %> 


<div class='container'> 
<%= bootstrap_flash %>  
<%= simple_form_for(@template_one) do |f| %>


  <div class="form-inputs">
    <% f.input :contact_hide %>
       
  </div>

  <div class="form-actions">
    <%= f.button :submit, data: {disable_with: 'Updating Header...'} %> 
     | <%= link_to "Home", root_path, class: "btn btn-default" %> 
  </div>
<% end %>
</div>