<h1>
  <%= @course.name %>
</h1>

 


<h3>Videos</h3>

<table class="table table-bordered table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Name</th>
    <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @course.posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        
        <td><%= link_to 'Show', course_post_path(@course, post), class: "btn btn-outline-secondary" %></td> 
        <% if current_user.try(:admin?) %>
        <td><%= link_to 'Edit', edit_course_post_path(post) if current_user.try(:admin?) %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_course_post_path(@course) if current_user.try(:admin?) %>

