<br><br>
<h2><%= @course.name %></h2>
<br>
<h4>Videos</h4>
<table class="table table-bordered table-condensed table-responsive">
  <thead>
    <tr>
      <th>Lecture Number</th>
      <th>Video Title</th>
      <th>Section Name</th>
      <th>Section Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @course.posts.each do |post| %>
    <tr>
      <td>        
        <span class="badge badge-primary"><%= post.lecture_number %></span>
      </td>
      <td>
        <%= link_to course_post_path(@course, post) do %>
        <%= post.title %>
        <% end %>
      </td>
      <td>
        <%= post.section_name %>
      </td>
      <td>        
        <span class="badge badge-info"><%= post.section_number %></span>
      </td>
      <td><%= link_to 'Show', course_post_path(@course, post), class: "btn btn-outline-success btn-sm" %></td>
      <% if current_user.try(:admin?) %>
      <td>
        <%= link_to 'Edit', edit_course_post_path(@course, post), class: "btn btn-outline-secondary btn-sm" if current_user.try(:admin?)  %>
      </td>
      <td>
        <%= link_to 'Destroy', course_post_path(@course, post), class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?)  %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Video', new_course_post_path(@course), class: "btn btn-outline-info" if current_user.try(:admin?) %>