<%= tinymce_assets %><%= tinymce %>
<%= form_for [@course, @course.posts.build] do |f| %>
<div class="form-inputs">
  <label for="">Section Number</label>
  <%= f.number_field :section_number, class: "form-control" %>
  <label for="">Section Name</label>
  <%= f.text_field :section_name, class: "form-control" %>
  <label for="">Lecture Number</label>
  <%= f.number_field :lecture_number, class: "form-control" %>
  <label for="">Video Title</label>
  <%= f.text_field :title, class: "form-control" %>
  <br>
  <%= f.text_area :body,  class: "tinymce", :rows => 20, :cols => 40 %>
  <%= f.number_field :course_id %>
</div>
<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>