
<h1><%= @course.name %></h1>
<%= @course.posts.inspect %>
<table class="table table-striped table-hover table-bordered"> 
  <thead>
    <tr>
      <th>Title</th>

      <th>Video Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course.posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td> 
        <td><%= link_to 'Show', course_post_path(@course, post) %></td>
        <% if post.user == current_user %> 
        <td><%= link_to 'Edit', edit_course_post_path(@course, post) if current_user.try(:admin?) %></td>
        <td><%= link_to 'Destroy', course_post_path(@course, post), method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_course_post_path(@course) if current_user.try(:admin?) %>
