
<h1>Posts</h1>

<table class="table table-striped table-hover table-bordered"> 
  <thead>
    <tr>
      <th>Title</th>
      <th>Created At</th>
      <th>Body</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td>about <%= time_ago_in_words(post.created_at) %> ago</td>
        <td><%= post.body %></td>
        <td><%= post.user.username %></td>
        <td><%= link_to 'Show', post %></td>
        <% if post.user == current_user %> 
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
