<p>
    <% if @post.user.image.present? %>
    <%= image_tag @post.user.image_url(:thumb), class: 'rounded-circle' %>
    <% else %>
    <%= image_tag 'no_image.png', class: 'rounded-circle' %>
    <% end %>
</p>

<p>
  <h3>Video Title:</h3>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.body %>
</p>
<p>Notes</p>
<%= render @post.comments.order(created_at: :desc ) %> 
<% if current_user.try(:adnin?) %>
<p>
  <strong>Add Comment:</strong>
  <%= render 'comments/form' %> 
</p>

<% end %>

<%= link_to 'Edit', edit_course_post_comment_path(@course, @post.comments) if @post.user == current_user %>
<%= link_to 'Back', course_path(@course), class: "btn btn-outline-warning" %>


